body {
	background-image: url(../images/train1.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 

#title {
	font-family: 'Arbutus Slab', serif;
	font-size: 50px;
}

#tabletitle, th {
	font-family: 'Shrikhand', cursive;
	font-size: 20px;
	font-weight: 200;
}

.classbody, label {
	font-family: 'Shrikhand', cursive;
	font-size: 15px;
	font-weight: 200;
}

.mainheader {
	font-family: 'Arbutus Slab', serif;
	font-size: 30px;
}

tbody {
	font-family: 'Marcellus SC', serif;
	font-size: 18px;
}

